<p>admin-view-reservation works!</p>
<table>
    <tr>
      <th>Reservation ID</th>
      <th>User ID</th>
      <th>Package ID</th>
      <th>Reservation Date</th>
      <!-- Add other reservation details as needed -->
    </tr>
    <!-- <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.reservationId }}</td>
      <td>{{ reservation.userId }}</td>
      <td>{{ reservation.packageId }}</td>
      <td>{{ reservation.reservationDate }}</td>
      
    </tr> -->
  </table>
  

