<div class="user">
  <!-- navbar.component.html -->

  <div class="navbar">
    <div class="navbar-left">
      <a routerLink="/booking">Booking</a>
      <a routerLink="/history">History</a>
      <a routerLink="/contact">Contact Us</a>
    </div>
    <div class="navbar-right">
      <a (click)="logout()">Logout</a>
    </div>
  </div>
  <!-- user.component.html -->

  <div class="user-container">
    <div class="item" *ngFor="let item of items">
    <img [src]="item.imageUrl" alt="" />
      <div class="item-content">
        <h2>{{item.location}}</h2>
        <p>{{item.description}}</p>

        <div class="booking-options">
          <p>Price: {{ item.price }}</p>
          <button (click)="bookItem(item)">Book Now</button>
        </div>

      </div>
    </div>
  </div>
  l̥

</div>