<h2>Admin Dashboard</h2>
    <table>
      <thead>
        <tr>
          <th>Module</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add Location -->
        <tr>
          <td>Add Location and package</td>
          <td>
            <button  class="btn-btn-primary"  (click)="addLocationandpackage()">Add</button>
            <button  class="btn-btn-danger" (click)="editLocationandpackage()">Edit</button>
          </td>
        </tr>
        <!-- Admin View Reservation -->
        <tr>
          <td>Admin View Reservation</td>
          <td>
            <button (click)="viewReservation()">View</button>
          </td>
        </tr>

        <!-- Admin View Users -->
        <tr>
          <td>Admin View Users</td>
          <td>
            <button (click)="viewUsers()">View</button>
          </td>
        </tr>
      </tbody>
    </table>