.homepage-container {
    display: flex;
    

  }
  .background-image-container{
    background-image: url('/assets/images/bgimage.jpg');
  
  /* Set the background size */
  background-size: cover; /* Other options: contain, auto, etc. */

  /* Set the size of the container */
  width: 760; /* Set the width to 100% of the container */
  height: 100vh;; /* Set the height to 300 pixels (adjust as needed) */
  

  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    padding: 20px;
    color:black;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
  }
  
  .sidebar-button {
    display: block;
    color:black;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
  }
  
  .sidebar-button:hover {
    background-color: #555;
  }
  .login-dropdown:hover{
    background-color: #555;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }

  