<div class="background-image-container">
  <div class="homepage-container">
    <div class="sidebar">
      <a routerLink="/about" class="sidebar-button">About Us</a>
      <a routerLink="/contact" class="sidebar-button">Contact Us</a>
      <a routerLink="/register" class="sidebar-button">Register</a>
      <div class="login-dropdown">
        <a (click)="toggleDropdown()">Login</a>
        <div *ngIf="showDropdown" class="dropdown-content">
          <a routerLink="/login/user-login">User</a><br>
          <a routerLink="/login/admin-login">Admin</a>
        </div>
      </div>
    </div>
    <div class="main-content">
      <!-- Your homepage content goes here -->
      <h1>This is the Home page of the SRM Tourism</h1>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      
  </div>
  
</div>