.aboutus{
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-weight: 1000;
  
}

h2 {
  color: #333;
}

p {
  line-height: 1.6;
}
.background-image-container{
  background-image: url('/assets/images/about_us.jpg');

/* Set the background size */
background-size: cover; /* Other options: contain, auto, etc. */

/* Set the size of the container */
width: 100%; /* Set the width to 100% of the container */
height: 100vh; /* Set the height to 300 pixels (adjust as needed) */


}