<div>
    <h2>About Us - Your Trusted Tourism Partner</h2>
    <p style="text-align: center;">
      Welcome to our tourism platform! We are passionate about creating unforgettable travel experiences
      and showcasing the beauty of diverse destinations around the world.
    </p>

    <div id="carouselExampleIndicators" class="carousel slide">
     
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1576487248805-cf45f6bcc67f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fHw%3D" height="450px"  class="d-block  w-100" alt="first">
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJhdmVsJTIwbmF0dXJlfGVufDB8fDB8fHww" height="450px" class="d-block w-100" alt="second">
          </div>
          <!-- Add more carousel items as needed -->
        </div>
      </div>
      
     

    <p>
      Our mission is to connect travelers with exceptional destinations, ensuring memorable and
      culturally enriching adventures. Whether you're a solo explorer, a couple seeking a romantic getaway,
      or a family planning a fun-filled vacation, we have something special for everyone.
    </p> 

    <p>
      Explore our platform to discover a wide range of travel options, from breathtaking natural wonders
      to vibrant cultural experiences. We prioritize sustainability and responsible tourism, working
      towards preserving the environment and supporting local communities.
    </p>
    <p>
      Join us on a journey to create lasting memories and make your travel dreams a reality. We look
      forward to being your trusted partner in every step of your travel experience.
    </p>

  </div>
